.lista1 li{
    list-style-type: none;
}

.lista1 a{
    color: green;
    text-decoration: none;
}

.lista1 li a:hover{
    color: purple;
}

.imagen{
    margin-left: 0;
    margin-right: 0;
}

.imagen img{
    width: 70px;
}

.back{
    text-decoration: none;
    color: white;
    background-color: rgb(17, 92, 110);
    border-radius: 15%;
    height: 150px;
    width: 450px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    .back:hover{
        text-decoration: underline;
}