.tabla{
  border: 2px double black;  
}

tr:nth-child(2n){
    background-color: rgb(236, 233, 185);
}

.tabla tr:hover{
    background-color: yellow;
}

.tabla tr th{
    border: 2px solid black;
}

.tabla tr td{
    border: 2px solid black;
}

.tabla tr th{
    font-weight: bold;
    background-color: rgb(92, 226, 143);
}

img{
    width: 20px;
    margin-left: none;
}

.tabla tr .euro{
    background-color: rgb(172, 220, 240);
}

.tabla tr .dolar{
    background-color: rgb(172, 220, 240);
}

.tabla tr .libra{
    background-color: rgb(172, 220, 240);
}

.tabla tr .yen{
    background-color: rgb(172, 220, 240);
}

.back{
    text-decoration: none;
    color: white;
    background-color: rgb(17, 92, 110);
    border-radius: 15%;
    height: 150px;
    width: 450px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    .back:hover{
        text-decoration: underline;
}