html{
    background-color: #CFC;
    font-family: Georgia, Cambria, serif;
    font-size: 16px;
}

*{
    color: #00F;
}

h1.titulo_n1{
    color: red;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}

h2{
    color: #A00;
    font-style: Verdana, Calibri, sans-serif;
    font-size: 24px;
}


span.datos_libro{
    color: #060;
}

span.texto_sustantivo{
    font-size: 20px;
    font-weight: bold;
}

span.texto_cursiva{
    color: #FFF;
    background-color: #000;
    font-style: italic;
}

.back{
    text-decoration: none;
    color: white;
    background-color: rgb(17, 92, 110);
    border-radius: 15%;
    height: 150px;
    width: 450px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    .back:hover{
        text-decoration: underline;
}