ul li a{
    color: rgb(235, 9, 9);
    text-decoration: none;
}

ul li a:visited{
    color: green;
}

ul li a:hover{
    color: white;
    background-color: red;
    text-decoration: underline;
}

ul li a:focus{
    color: blue;
    text-decoration: underline;
}

ul li a:active{
    color: orange;
    text-decoration: none;
}

.regresar{
    margin-top: 650px;
    text-align: center;
    font-size: 25px;}
    .back{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: black;}
        .back:hover{
            text-decoration: underline;
}
