td.white{
    background-color: white;
}    

td.red{
    background-color: red;
}

td.green{
    background-color: green;
}

td.blue{
    background-color: blue;
}

table :nth-child(1) td{
    color: teal;
}

table :nth-child(2) td{
    color: red;
}

table :nth-child(3) td{
    color: blue;
}

table :nth-child(4) td{
    color: orange;
}

table :nth-child(5) td{
    color: purple;
}

table :nth-child(6) td{
    color: olive;
}

table :nth-child(7) td{
    color: fuchsia;
}

table :nth-child(8) td{
    color: green;
}

.regresar{
    margin-top: 650px;
    text-align: center;
    font-size: 25px;}
    .back{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: black;}
        .back:hover{
            text-decoration: underline;
}