$color_inicial: white;
$color_secundario: rgb(255, 255, 255);
.workspace{
    border: solid 1px $color_secundario;
    height: auto;
}

.seccion_inicial{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    border: solid 1px $color_inicial;
    height: 125px;
    background-color: rgb(72, 35, 25);
    color: white;
}
.seccion_secundaria{
    background-color: #dee1b6;
    color: rgb(72, 35, 25);
    height: 50px;
    font-weight: bold;
}
.seccion_tercera{
    // background-color: rgb(72, 35, 25);
    color: white;
    height: 50px;
    display: grid;  
    grid-template-columns: 25% 25% 25% 25%;
}
.section_1{
    // border: 1px solid $color_secundario;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.section_2{
    height: 100%;
    // border: 1px solid $color_secundario;
    text-align: left;
    display: flex;
    align-items: center;
    // padding-left: 40px;
    justify-content: center;
    font-size: 25px;
}
.section_3{
    height: 100%;
    // border: 1px solid $color_secundario;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.bloque_central{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 75% 25%;
    height: auto;
}

.contenedorProdcutos{
    height: 1000px;
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
    padding: 20px;
}

.carritoCompras{
    border: 1px solid rgb(255, 255, 255);
    height: 1040px;
}

.desayuno{
    display: visible;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    height: 450px;
}

.almuerzo{
    display: visible;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    height: 450px;
}

.cena{
    display: visible;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    height: 450px;
}

img{
    height: 60%;
    width: 90%;
}

h2{
    margin-bottom: auto;
    margin-top: auto;
}

.btn-agregar{
    background-color: rgb(72, 35, 25);
    height: 35px;
    width: 70px;
    border-radius: 18px;
}

.btn-agregar{
    background-color: rgb(72, 35, 25);
    height: 35px;
    width: 70px;
    border-radius: 18px;
}

.icon{
    height: 25px;
    width: 25px;
    color: white;
    font-weight: bold;
}

.section_3_1{
    background-color: rgba(72, 35, 25, 0.671);
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.section_3_2{
    background-color: rgb(72, 35, 25);
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.section_3_3{
    background-color: rgb(72, 35, 25);
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}

// tiene que llevar paso en 1000px para que no se desproporcionen las imagenes de
// carrito

#ver-carrito{
    background-color: rgb(255, 255, 255);
    width: 95%;

    // position: absolute;
    left: 1;
    right: -50;
    margin: 1px;

    /* border-radius: 15px; */
    
}
.detalles-carrito{
    display: grid;
    grid-template-columns: 30% 25% 25% 25%;
    grid-template-rows: 60px;   
    padding: 1px 1px;
    text-align: center;
}

.detalles-carrito:hover{
    background-color: #dee1b6;
    border-radius: 10px;
    color: white;
    height: 60px;
}

.shop{
    color: rgb(0, 0, 0);
    margin-right: 40px;
    float: left;
    width: auto;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 4px;
}



.delete_p{
    border-radius: 10px;
}

.btn-eliminar{
    border-radius: 10px;
    width: 50px;
    background-color: rgb(72, 35, 25);
}
#contenedorVerCarrito{
    /* margin-top: -750px; */
    margin-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
}

.detalles-carrito>p{
    padding-top: 8px;
}
/* Estilos cabecera carrito o boton de cerrar */
#cabezera-carrito{
    background-color: rgb(255, 255, 255);
    width: 99%;
    color: black;
    margin: auto;
    height: 1px;
}

.cabeceraCarrito{
    display: grid;
    grid-template-columns: 75px ;
    grid-template-rows: 35px;
    padding: 5px 5px;
    height: 1px;
}

.cabeceraCarrito>.btn-cerrar{
    // display: flex;
    /* background-color: transparent; */
    background-color: rgb(255, 255, 255);
    width: 99%;
    height: 1px;
    // font-size: 30px;
}

.cabeceraCarrito>p{
    color: rgb(72, 35, 25);
    font-size: 20px;
    margin-top: 0;
    width: 99%;
    height: 1px;
    justify-content: center;
}

/* estilos ocultar carrito */
.ocultarCarrito{
    display: none;
}

/* .abrirCarrito{
    visibility: visible;
} */

#contador-carrito{
    background-color: rgb(255, 255, 255);
    width: 99%;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    height: 10px;
}

#precio-total-carrito{
    background-color: rgb(255, 255, 255);
    width: 99%;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
}

.titulocarrito{
    color:aqua;
    width: 5px;
}



// @media  {
    
// }