@charset "UTF-8";
* {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 10% 55% 35%;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  background-color: white;
}

.c1 {
  background-color: white;
  color: rgb(0, 0, 0);
}

.nav-menu {
  background-color: white;
  width: 100%;
}

ul {
  text-decoration: none;
  color: aqua;
  background-color: white;
  color: white;
  display: inline-block;
  margin-top: 8%;
}

li {
  text-decoration: none;
  background-color: white;
  color: transparent;
  border-color: white;
  float: left;
  margin-right: 3%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0091e6;
}

.caja {
  border: 1px solid white;
  background-color: white;
  text-align: center;
}

.interacción {
  float: right;
  margin-top: 10%;
  margin-left: 5px;
  width: 100px;
  border-radius: 10px;
  border-color: #3e3932;
  background-color: white;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center;
  background-repeat: no-repeat;
  background-position: left;
}

.section_button {
  margin-right: 13%;
}

.c5 {
  grid-column: 1/5;
  height: 850px;
  width: 100%;
}

.c6 {
  grid-column: 1/5;
  height: auto;
  line-height: 18px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.icon {
  border: none;
  background-color: white;
  height: 90%;
  width: 40px;
  font-size: 2px;
  text-align: left;
  color: #0091e6;
}

img {
  margin-top: 10%;
  width: 80%;
}

p {
  text-align: center;
  text-align: justify;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

.c8 {
  grid-column: 1/5;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

.logo {
  margin-top: 10%;
  margin-bottom: 8%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0091e6;
  font-weight: bold;
}

.caja_registro {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  height: 200px;
  margin-top: 3%;
  width: 30%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}

.caja_envio {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  height: 200px;
  margin-top: 3%;
  width: 30%;
  float: left;
  margin-right: 2%;
}

.caja_pago {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  height: 200px;
  margin-top: 3%;
  width: 30%;
  float: left;
}

.encabezado {
  background-color: rgb(0, 0, 0);
  height: 20%;
  color: white;
  text-align: center;
  line-height: 250%;
}

.detalles_estilos {
  background-color: rgb(0, 0, 0);
  height: 8.5%;
  color: white;
  text-align: center;
  line-height: 250%;
}

.radio_registro {
  background-color: white;
  width: auto;
  text-align: left;
  margin-left: 2%;
}

.radio_envio {
  background-color: white;
  width: auto;
  text-align: left;
  margin-left: 2%;
}

.radio_pago {
  background-color: white;
  width: auto;
  text-align: left;
  margin-left: 2%;
}

.caja_detalles {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  height: 500px;
  margin-top: 3%;
  width: 50%;
  float: left;
  margin-left: 24%;
}

.formulario {
  text-align: end;
  margin-right: 33%;
}

.select_departamento {
  width: 33.7%;
  border: 2px solid;
}

@media (max-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 30% 5% 65%;
  }
  a {
    color: white;
  }
  .caja_registro {
    width: 45%;
  }
  .caja_envio {
    width: 45%;
  }
  .caja_pago {
    width: 45%;
    margin-left: 25%;
  }
  .caja_detalles {
    width: 60%;
    margin-left: 18%;
  }
  .formulario {
    margin-right: 20%;
  }
  .c5 {
    height: 1000px;
  }
}
@media (max-width: 550px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 30% 5% 65%;
  }
  a {
    color: white;
  }
  .caja_registro {
    width: 90%;
    margin-left: 4%;
  }
  .caja_envio {
    width: 90%;
    margin-left: 4%;
  }
  .caja_pago {
    width: 90%;
    margin-left: 4%;
  }
  .c5 {
    height: 1100px;
  }
  .formulario {
    width: 75%;
  }
  .caja_detalles {
    height: 300px;
    margin-left: 4%;
    width: 90%;
  }
  .detalles_estilos {
    height: auto;
  }
}/*# sourceMappingURL=Carrito.css.map */