*{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor-galería{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 20px;
    padding: 20px;
    /* encuentra la manera de agrupar todos las section a pesar de que los tamaños no sean uniformes */
    grid-auto-flow: dense; 
}

.boton_f{
    background-color: #0091e6;
    height: 30px;
    width: 140px;
    color: white;
    border-radius: 10px;
    /* filter: blur(2px); */
}

.Imagen{
    background-color: rgb(119, 184, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border: solid rgb(0, 0, 0) 2px;
    background-position: center;

}

.Imagen:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.ancho{
    grid-column: span 2;
}

.alto{
    grid-row: span 2;
}

.img1{
    background-image: url("/Responsive/Media/taladro.jpg");
    /* filter: blur(2px); */
}

.img2{
    background-image: url("/Responsive/Media/game.jpg");
}
.img3{
    background-image: url("/Responsive/Media/phone.jpg");
}
.img4{
    background-image: url("/Responsive/Media/laptop.jpg");
}
.img5{
    background-image: url("/Responsive/Media/monitor2.jpg");
}
.img6{
    background-image: url("/Responsive/Media/mouse1.jpg");
}

/* Estilos de menu y footer */

.grid-layout{
    display: grid;
    grid-template-columns: 10% 55% 35%;
    /* grid-template-rows: auto;
    justify-content: stretch; */
/* 
    width: 80%;
    margin: 0 auto; */
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
}

.caja{
    /* seccion interna de la pagina */
    border: 1px solid rgb(255, 255, 255); 
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* line-height: 120px; */
}

.c1{
    background-color: rgb(255, 255, 255);
    color: black;
}

.interacción{
    float: right;
    margin-top: 10%;
    margin-left: 5px;
    width: 100px;
    border-radius: 10px;
    border-color: #3e3932;
    background-color: #ffffff;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    background-repeat: no-repeat;
    background-position: left;
}

.icon{
    border: none;
    /* float: left; */
    background-color: #ffffff;
    height: 90%;
    width: 40px;
    /* margin-top: 50px; */
    font-size: 2px;   
    text-align: left;
    color: #0091e6;
}

.section_button{
    margin-right: 13%;
}

.c5{
    grid-column: 1/5
}

.c6{
    grid-column: 1/5;
    height: auto;
    line-height: 18px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.producto{
    height: auto;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    /* border: 1px solid black; */
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

img{
    margin-top: 10%;
    /* height: 70%; */
    width: 80%;
}

.ver{
    margin-top: 10%;
    height: 30px;
    width: 110px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 10%;
}

p{
    text-align: center;
    text-align: justify;
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 5%;
}

.c7{
    grid-column: 1/5;
    height: 500px;
    line-height: 500px;
}

.c8{
    grid-column: 1/5;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
    background-color: #000000;
}

.logo{
    margin-top: 10%;
    margin-bottom: 8%;
}

ul{
    text-decoration: none;
    color: aqua;
    background-color: rgb(255, 255, 255);
    color: white;
    display: inline-block;
    /* text-align: center; */
    /* align-items: center; */
    margin-top: 8%;
}

li{
    text-decoration: none;
    background-color: #ffffff;
    color: transparent;
    border-color: white;
    float: left;
    margin-right: 3%;
    /* text-align: center; */
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #0091e6;
    font-weight: bold;
}
.nav-menu{
    /* text-align: center; */
    background-color: #ffffff;
    width: 100%;
}




@media (max-width:768px) {  

    .grid-layout{
        display: grid;
        grid-template-columns: 30% 5% 65%;
    }

    a{
        color: white;
    }

    .c6{
        grid-column: 1/5;
        height: auto;
        line-height: 18px;
        display: grid;
        grid-template-columns: 49% 49%;
    }
   
}