.without{
    list-style: none;
}

.circles{
    list-style-type: circle;
}

/* existen diferentes tipos como disc, circle, square, disclousure-open, dicluosure-closed */

.square{
    list-style-type: square;
}

.italy{
    list-style-type: upper-roman;
}

.magno{
    list-style-type: lower-greek;
}

.regresar{
    margin-top: 350px;
    text-align: center;
    font-size: 25px;}
    .back{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: black;}
        .back:hover{
            text-decoration: underline;
}