.regresar{
    margin-top: 450px;
    text-align: center;
    font-size: 25px;}
    .back{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: black;}
        .back:hover{
            text-decoration: underline;
}