.titulo{
    border-bottom: 2px solid #00F;
}

h2{
    border: 2px solid #AAA;
}

.lista{
    border-top: 4px dotted #F00;
    border-bottom: 4px dotted #f00;
}

.contenido{
    border: 2px dashed #0F0
}

.regresar{
    margin-top: 250px;
    text-align: center;
    font-size: 25px;}
    .back{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: rgb(0, 0, 0);}
        .back:hover{
            text-decoration: underline;
}